{% extends 'base.html.twig' %}
{% block body%}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Créer Nouveau</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Création</a></li>
                  <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
              </nav>
            </div>
            <div class="row">

              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                     {{ form_start(fc) }}
        {{ form_row(fc.nom) }}
        {{ form_row(fc.prenom) }}
        {{ form_row(fc.email) }}
        {{ form_row(fc.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(fc.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(fc) }}
                  </div>
                </div>
              </div>

{% endblock %}