{% extends 'base.html.twig' %}
{% block title %}Commande index{% endblock %}

{% block body %}
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Checkout</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Checkout</li>
        </ol>
    </div>
    <br>
    <!-- Single Page Header End -->

    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for commande in commandes %}
                        <li class="list-group-item">
                            <h5 class="mb-1">{{ commande.prenom }} {{ commande.nom }}</h5>
                            <p class="mb-1">Téléphone: {{ commande.telephone }}</p>
                            <p class="mb-1">Adresse: {{ commande.adresse }}</p>
                            <p class="mb-1">Email: {{ commande.email }}</p>
                            <p class="mb-1">Prix: {{ commande.prixTotale }}</p>
                            <div class="btn-group" role="group" aria-label="Actions">
                                <a href="{{ path('app_commande_delete', {'id': commande.idCommande}) }}" class="btn btn-danger">Supprimer</a>
                                <a href="{{ path('app_Commande_update', {'id': commande.idCommande}) }}" class="btn btn-primary">Modifier</a>
                                
                                <!-- Bouton pour générer le QR code -->
                                <a href="{{ path('app_QrCode', {'id': commande.idCommande}) }}" class="btn btn-warning">QR Code</a>
                                
                                <!-- Ajouter un lien vers la génération PDF avec un identifiant unique -->
                                <!-- Template Twig -->
                                  <a href="#" class="btn btn-success generate-pdf" data-commande-id="{{ commande.idCommande }}">PDF</a>

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Script jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       // Script jQuery
$(document).ready(function(){
    $('.generate-pdf').click(function(e){
        e.preventDefault();
        var commandeId = $(this).data('commande-id');
        generatePdf(commandeId);
    });

    function generatePdf(id) {
        // Redirection vers la route de génération PDF avec l'ID de la commande
        window.location.href = "{{ path('generate_pdf', {'id': '_id_'}) }}".replace('_id_', id);
    }
});
    </script>

{% endblock %}
