{% extends 'baseFront.html.twig' %}

{% block body %}       
       
        <div class="container-fluid py-5 mt-5">
        
            <div class="container py-5">
                <div class="row g-4 mb-5">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border rounded">
                                    <a href="#">
                                        <video width="400" height="280" poster="{{ asset('Dash_Admin/assets/images/logoo.png')}}" controls>
                                            <source src="/uploads/conseil/{{ c.video }}" type="video/mp4">
                                        </video>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="fw-bold mb-3">{{ c.nomConseil }}</h4>
                                <p class="mb-3">Category: {{ c.idTypec.nomtypec }}</p>
                                <p class="mb-3">Created At: {{ c.datecreation|date('Y-m-d') }}</p>

<div class="d-flex mb-4">
    {% set totalStars = 5 %}
    {% set filledStars = averageRating|round(0, 'ceil') %}

    {% if filledStars > totalStars %}
        {% set filledStars = totalStars %}
    {% endif %}

    {% set emptyStars = totalStars - filledStars %}

    {% for i in range(1, filledStars) %}
        <i class="fa fa-star text-secondary"></i>
    {% endfor %}

    {% for i in range(1, emptyStars) %}
    <i class="fa fa-star"></i>
        
    {% endfor %}

    <p class="mb-3"> ({{ numberReview }})</p>
</div>




                                <p class="mb-4">{{ c.description }}</p>
                            </div>
                            <div class="col-lg-12">
                                <nav>
                                    <div class="nav nav-tabs mb-3">
                                        <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                            id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                            aria-controls="nav-about" aria-selected="true">Description</button>
                                        <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                            id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                            aria-controls="nav-mission" aria-selected="false">Reviews</button>
                                    </div>
                                </nav>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                        <p>{{ c.description }}</p>
                                    </div>


                                    <div class="review-list-container">
                                       
                                      {% for review in reviewsC %}
                                        <div class="d-flex shadowR">
                                            <img src="{{ asset('Front/assets/img/user.png')}} " class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                            <div class="">
                                                <p class="mb-2" style="font-size: 14px;">{{ review.datecreation|date('Y-m-d') }}</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h5>{{ review.titile }}</h5>
                                                    <div class="d-flex mb-3" style="margin-left:400px;">
                                                        {% set starCount = review.value %}
                                                        {% for i in 1..5 %}
                                                            {% if i <= starCount %}
                                                                <i class="fa fa-star text-secondary"></i>
                                                            {% else %}
                                                                <i class="fa fa-star"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <p>{{ review.comments }}</p>
                                            </div>
                                        </div>
                                        <br><br>
                                    {% endfor %}


                                    </div>
                                    <div class="tab-pane" id="nav-vision" role="tabpanel">
                                        <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                            amet diam et eos labore. 3</p>
                                        <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                            Clita erat ipsum et lorem et sit</p>
                                    </div>
                                </div>


                            </div>
  {{ form_start(form, {'attr': {'id': 'reviewForm'}}) }}
    <h4 class="mb-5 fw-bold">Leave a Review</h4>
    <div class="row g-4">
        <div class="col-lg-10">
            <div class="border-bottom rounded">
                {{ form_row(form.titile) }}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="border-bottom rounded my-4">
                {{ form_row(form.comments) }}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="d-flex align-items-center">
                <p class="mb-0 me-3">Please rate:</p>
                <div class="star-rating">
                    {% for i in 1..5 %}
                        <i class="star fas fa-star" data-value="{{ i }}"></i>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# Hidden input field for storing the selected rating (value) #}
        {{ form_row(form.value) }}
        <div class="col-lg-12">
            <div class="d-flex justify-content-between py-3 mb-5">
                <button type="submit" class="btn border border-secondary text-primary rounded-pill px-4 py-3">Post Comment</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}







                            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                                <div class="position-relative">
                                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                                    <div class="mb-4 pb-4 border-bottom border-secondary">
                                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-nowrap">
                                        <div class="bg-secondary rounded">
                                            <img src="img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                                        </div>
                                        <div class="ms-4 d-block">
                                            <h4 class="text-dark">Client Name</h4>
                                            <p class="m-0 pb-3">Profession</p>
                                            <div class="d-flex pe-5">
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                        
  <div class="col-lg-4 col-xl-3">
                        <div class="row g-4 fruite">
                            <div class="col-lg-12">
                                <div class="input-group w-100 mx-auto d-flex mb-4">
                                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                                </div>
                                <div class="mb-4">
                                    <h4>Categories</h4>
<ul class="list-unstyled fruite-categorie">
        <li>
            <div class="d-flex justify-content-between fruite-name">
             
            </div>
        </li>
</ul>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mb-4">Featured products</h4>

                                
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded" style="width: 100px; height: 100px;">
                                        <img src="{{ asset('Front/assets/img/featur-1.jpg')}}" class="img-fluid rounded" alt="Image">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>         
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="{{ asset('Front/assets/img/banner-fruits.jpg')}}" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            
            </div>
            
        </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const stars = document.querySelectorAll('.star');
    const ratingInput = document.querySelector('.rating-input');

    stars.forEach(star => {
        star.addEventListener('click', () => {
            const ratingValue = parseInt(star.dataset.value);
            console.log(`Clicked star with value: ${ratingValue}`); // Log the clicked rating value

            // Update the value of the hidden input field
            ratingInput.value = ratingValue;

            // Update star colors based on rating
            stars.forEach(s => {
                const value = parseInt(s.dataset.value);
                s.classList.toggle('text-warning', value <= ratingValue);
            });

            console.log(`Hidden input value set to: ${ratingInput.value}`); // Log the updated hidden input value
        });
    });
});


</script>

<style>
.shadowR {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .star-rating {
        font-size: 24px; /* Adjust the size of stars as needed */
    }

    .star {
        cursor: pointer;
        color: #ccc; /* Default star color */
    }

    .star.text-warning {
        color: orange; /* Color for selected stars */
    }

    .review-list-container {
    max-height: 400px; /* Set a maximum height for the review list container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Add some padding to accommodate the scroll bar */
}

</style>

{% endblock %}